.CompanyCard {
    position: relative;
    border: 3px solid lavender;
}
.CompanyCard a {
    text-decoration: none;
    color: violet;
}

.CompanyCard-logo {
    position: absolute;
    top: 5px;
    right: 5px;
    max-width: 50px;
    max-height: 50px;
}

.CompanyCard-name {
    color: palevioletred;
}

