.JobCard {
    /* border: 3px solid lavender; */
    color: violet;
    max-width: 90%;
    border-radius: 15px;
    margin: 10px auto;
    background: white;
    padding: 10px;
}

.JobCard-title {
    color: palevioletred;
}

