input {
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 0 1px;
}

.SearchForm-input {
    background-color: lightgray;
}

.SearchForm-submit {
    border: none;
    background-color: cornflowerblue;
}